@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#app {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr;
  /* grid-gap: 8px; */

  height: 100%;
  width: 100%;

  overflow: hidden;

  background: white;
}

#title {
  grid-row: 1;
  background-color: #ccccff;
  /* grid-column: 1 / -1; */
  padding: 8px;
  text-align: center;
  color: black;
}

#title h1 {
  font-family: "Montserrat";
  font-size: 3.2rem;
}

#title h5 {
  font-family: "Montserrat";
  font-size: 1rem;
}

#menu-tab {
  background-color: blanchedalmond;
  padding: 1rem;
}

#menu-tab button {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

#home {
  text-align: center;
}